apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator
  namespace: sentence
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
      - name: aggregator
        image: aggregator:latest
        ports:
        - containerPort: 8080
